/*
 * Our CSS should follow rules defined in SMACSS : http://smacss.com/
 *
 * SMACSS separate CSS rules in 5 categories, each in a different file :
 * - base
 * - layout
 * - module
 * - state
 * - theme (least used one)
 */
 
 /* 
  * base rules :
  * - contains only HTML elements as selector (no ID, no class)
  * - are valid for all application (CSS reset, typography)
  */
  
body, form {
    margin: 0;
    padding: 0;
}

a {
    color: #039;
}

a:hover {
    color: #03F;    
}

 /* 
  * layout rules :
  * - general layout of the application
  * - selectors are mostly composed of IDs or HTML5 elements
  */
  
#header, #article, #footer {
    width: 960px;
    margin: auto;
}

#article {
    border: solid #CCC;
    border-width: 1px 0 0;
}

 /* 
  * module rules :
  * - a module is a small part of the application (dialog, carousel, navigation bar, etc)
  * - selectors are mostly classes, never IDs
  * - selectors are always prefixed with  module name
  * - use descendant selector ( > )
  */
  
.module > h2 {
    padding: 5px;
}

.module .module-title {
    font-size: 150%;
}

 /* 
  * state rules :
  * - class selector prefixed with is-
  * - often trigger with javascript
  */
  
.is-tab-active {
    background-color: white;
    color: black;
}

.is-collapsed {
  height: 1em;
  overflow: hidden;
}
